.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background: linear-gradient(#fa74bf, #ffbdb0, transparent);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.145); 
  padding: 20px;
  position: relative;
  width: 80%;
  max-width: 500px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.close-button:hover {
  color: red;
}

/* Styles for the RemoveItem component */
.remove-item-container {
  margin-top: 20px;
}

.item-table {
  width: 100%;
  border-collapse: collapse;
}

.item-table th, .item-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.item-table th {
  background-color: #f2f2f2;
}
